extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/code_view.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/colors.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/emoticons.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/image_manager.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/image.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/line_breaker.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/table.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/char_counter.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/video.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/fullscreen.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/quick_insert.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/plugins/file.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
	link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
block scripts
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/froala_editor.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/align.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/code_beautifier.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/code_view.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/colors.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/draggable.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/emoticons.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/font_size.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/font_family.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/image.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/file.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/image_manager.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/line_breaker.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/link.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/lists.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/paragraph_format.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/paragraph_style.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/video.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/table.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/url.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/entities.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/char_counter.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/inline_style.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/quick_insert.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/save.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/fullscreen.min.js')
	script(type='text/javascript', src='/libs/froala-editor/js/plugins/quote.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script(src='/javascripts/cropper-editor.js')
	script.
		$(function() {
			$('.chosen-status, .chosen-category').chosen({ allow_single_deselect: true, disable_search: true });
			$('#service-content').froalaEditor({
				heightMin: 280,
				// Button show xs
				toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
				// Set the image upload URL.
				imageUploadURL: '/media/upload_image',
				// Load all images from folder
				imageManagerLoadURL: '/media/load_images'
			});
		});
	script(type='text/javascript').
		var iconCropperEditor = new CropperEditor({ 
			selector : 'icon-image',
			uploadDir: '/images/service/',
			prefixFileName: 'service',
			thumbWidth: 100,
			thumbHeight: 100,
			toolbars: {
				crop : true,
				zoomIn: true,
				zoomOut: true,
				rotateLeft: true,
				rotateRight: true,
				submitCrop: true
			},
			clientOptions: {
				viewMode: 1,
				dragMode: 'move',
				cropBoxResizable: false
			}
		});
		iconCropperEditor.init();

		var cropperEditor = new CropperEditor({ 
			selector : 'service-image',
			uploadDir: '/images/service/',
			prefixFileName: 'service',
			thumbWidth: 640,
			thumbHeight: 360,
			toolbars: {
				crop : true,
				zoomIn: true,
				zoomOut: true,
				rotateLeft: true,
				rotateRight: true,
				submitCrop: true
			},
			clientOptions: {
				viewMode: 1,
				dragMode: 'move',
				cropBoxResizable: false
			}
		});
		cropperEditor.init();
block content
	.row
		.col-lg-12
			header
				.content-header Nhập dữ liệu dịch vụ
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/service/create', style="padding: 0 15px;")
				.form-group
					.col-lg-6(class=errors && errors.serviceName && 'has-error')
						label.control-label(for='serviceName') Tên dịch vụ
						input#serrvice-name.form-control(type='text', name='serviceName', value=data && data.serviceName, placeholder='Nhập tên dịch vụ')
						if errors && errors.serviceName
							.help-block #{errors.serviceName.msg}
					//- .col-lg-6(class=errors && errors.price && 'has-error')
					//- 	label.control-label(for='price') Giá dịch vụ (VNĐ)
					//- 	input#serrvice-price.form-control(type='text', name='price', value=data && data.price, placeholder='Giá dịch vụ')
					//- 	if errors && errors.price
					//- 		.help-block #{errors.price.msg}
				.form-group
					.col-lg-6(class=errors && errors.icon && 'has-error')
						label.control-label(for='icon') Icon dịch vụ
						if data && data.image
							label.custom-file-upload(for='service-icon', style='display: none;')
								i.fa.fa-cloud-upload
							input#icon-image.mycropper-browse-file(type='file', name='icon', disabled=true)
							input#cropper-editor-input-icon-image(type='hidden', name='icon', value=data.icon)
							#icon-image-preview.image-preview
								.image-preview-item
									span.btn.btn-danger.btn-xs.remove-image(id='delete-' + data.icon)
										i.fa.fa-trash
									img(src='/media/images/service/thumb/' + data.icon)
						else
							input#icon-image.mycropper-browse-file(type='file', name='icon')
							label.custom-file-upload(for='icon-image')
								i.fa.fa-cloud-upload
						if errors && errors.icon
							.help-block #{errors.icon.msg}
					.col-lg-6(class=errors && errors.image && 'has-error')
						label.control-label(for='image') Ảnh dịch vụ
						if data && data.image
							label.custom-file-upload(for='service-image', style='display: none;')
								i.fa.fa-cloud-upload
							input#service-image.mycropper-browse-file(type='file', name='image', disabled=true)
							input#cropper-editor-input-service-image(type='hidden', name='image', value=data.image)
							#service-image-image-preview.image-preview
								.image-preview-item
									span.btn.btn-danger.btn-xs.remove-image(id='delete-' + data.image)
										i.fa.fa-trash
									img(src='/media/images/service/thumb/' + data.image)
						else
							input#service-image.mycropper-browse-file(type='file', name='image')
							label.custom-file-upload(for='service-image')
								i.fa.fa-cloud-upload
						if errors && errors.image
							.help-block #{errors.image.msg}
				.form-group
					.col-lg-6(class=errors && errors.category && 'has-error')
						label.control-label(for='category', style='display: block; text-align: left;') Danh mục (*)
						select.form-control.chosen-category(name='category', data-placeholder='Danh mục', style='width: 100%;')
							option(value='') Chọn danh mục
							each category in categories
								option(value=category._id, selected=(data && JSON.stringify(data.manager) === JSON.stringify(category.id)) ? true : false) #{category.name}
						if errors && errors.category
							.help-block #{errors.category.msg}
				.form-group
					.col-lg-12
						label.control-label(for='content') Nội dung dịch vụ
						textarea#service-content.form-control(type='text', name='content', placeholder='Nội dung dịch vụ', rows=3) #{data ? data.content : ''}
				.form-group
					.col-lg-6
						label.control-label(for='status', style='display: block; text-align: left;') Status
						select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 150px;')
							option(value=1, selected=(data && data.status === '1') ? true : false) Active
							option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
				.form-group  
					.col-lg-8
						input#submit.btn.btn-success(type='submit', value='Lưu lại')
				