extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('.chosen-select').chosen();
		$('.chosen-select-deselect').chosen({ allow_single_deselect: true, disable_search: true });
		$('#slider-list').DataTable({
			"ordering": false
		});
		});
block content
	.row
		.col-lg-12
			.user-actions
				p Các yêu cầu dịch vụ
			hr
			table#slider-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs Mã đơn hàng
						th Tên đầy đủ
						th Điện thoại
						th Địa chỉ
						th Ảnh
						th Hóa đơn
						th Dịch vụ
						th Ghi chú
						th Thời gian đặt lịch
						th Trạng thái
						th Chi tiết
				tbody
					each dt, i in data
						tr
							td.hidden-xs #{'#' + dt.code}
							td #{dt.fullName}
							td #{dt.phoneNumber}
							td #{dt.address ? dt.address : ''}
							td
								if dt.imageUrl
									img.img-responsive(src=((dt.imageUrl) ? dt.imageUrl.split(',')[0] : ''), style='width: 128px;height: 100px;')
								else 
									| Không có
							td
								if dt.invoice_imgs
									img.img-responsive(src=((dt.invoice_imgs_vitrual) ? dt.invoice_imgs_vitrual.split(',')[0] : ''), style='width: 128px;height: 100px;')
								else 
									| Không có
							td #{(dt.service) ? dt.service.serviceName : ''}
							td #{dt.description}
							td #{dt.orderAt ? moment(dt.orderAt).format('DD-MM-YYYY H:m:s') : (dt.createdAt ? moment(dt.createdAt).format('DD-MM-YYYY H:m:s') : '')}
							if dt.done
								td(style='color: #38a22c;') Đã thanh toán
							else 
								td Chưa thanh toán
							td(align='center')
								a(href='/service-request/view/' + dt._id).u-action.btn.btn-default
									em.fa.fa-eye
							