extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('.chosen-select').chosen();
		$('.chosen-select-deselect').chosen({ allow_single_deselect: true, disable_search: true });
		$('#slider-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.user-actions
				p Các yêu cầu dịch vụ
			hr
			table#slider-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs STT
						th Tên đầy đủ
						th Điện thoại
						th Địa chỉ
						th Ảnh 
						th Dịch vụ
						th Trạng thái
				tbody
					each dt, i in data
						tr
							td.hidden-xs #{i + 1}
							td #{dt.fullName}
							td #{dt.phoneNumber}
							td #{dt.address ? dt.address : ''}
							td
								if dt.imageUrl
									img.img-responsive(src=((dt.imageUrl) ? dt.imageUrl.split(',')[0] : ''), style='width: 128px;height: 100px;')
								else 
									| Không có
							td #{(dt.service) ? dt.service.serviceName : ''}
							td #{dt.done ? 'Đã thanh toán' : 'Chưa thanh toán'}
							