extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$('.chosen-select-deselect, .select-recipients, .chosen-manager').chosen({ allow_single_deselect: true, disable_search: false })
block content
	.row
		.col-lg-2.col-md-2.col-sm-2.sub-menu
			ul.sub-menu-item.nav.nav-tabs
				li.active
					a(data-toggle='tab', href='#details') Thông tin
				li
					a(data-toggle='tab', href='#notification') Thông báo
		.col-lg-10.col-md-10.col-sm-10
			.tab-content
				#details.tab-pane.fade.in.active
					.abgs-detail(style='margin-bottom: 15px;')
						header.detail-header
							.icon
								i.fa.fa-eye
							h5.detail-title #{title}
						.body
							.row
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-address-book-o
										.content #{data.abgName}
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-user-o
										.content Quản lý: #{data.manager.userName}

							.row
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-map-marker
										.content Địa chỉ:
											i  #{data.address}
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-plus-circle
										.content Người tạo: #{data.createdBy.userName}
					.apartment-buildings
						header.detail-header
							.icon
								i.fa.fa-home
							h5.detail-title Danh sách tòa nhà ( #{data.apartmentBuildings.length} tòa )
							button.btn.btn-success.pull-right(type='button', data-toggle='modal', data-target='#addBuilding')
								i.fa.fa-plus
								| &nbsp;Thêm
							#addBuilding.modal.fade(role='dialog')
								#add-building.form-horizontal
									.modal-dialog
										.modal-content
											.modal-header
												button.close(type='button', data-dismiss='modal') ×
												ul.nav.nav-tabs
													li.active
														a(data-toggle='tab', href='#addNew') Thêm mới
												.tab-content
													#addNew.tab-pane.fade.in.active
														.modal-body
															.form-group
																.col-lg-6(class=errors && errors.buildingName && 'has-error')
																	label.control-label(for='buildingName') Tên tòa nhà (*)
																	input#ab-name.form-control(type='text', name='buildingName', value=data && data.buildingName, placeholder='Nhập tên tòa nhà')
																	if errors && errors.buildingName
																		.help-block #{errors.buildingName.msg}
																.col-lg-6(class=errors && errors.floor && 'has-error')
																		label.control-label(for='floor', style='display: block; text-align: left;') Số tầng (*)
																		input.form-control.number-floor(name='floor', data-placeholder='Số tầng', style='width: 100%;')
																		if errors && errors.floor
																			.help-block #{errors.floor.msg}
															.form-group
																.col-lg-6(class=errors && errors.area && 'has-error')
																	label.control-label(for='area', style='display: block; text-align: left;') Diện tích
																	input.form-control.building-area(name='area', data-placeholder='Diện tích (m2)', style='width: 100%;')
																	if errors && errors.area
																		.help-block #{errors.area.msg}
																.col-lg-6(class=errors && errors.manager && 'has-error')
																	label.control-label(for='manager', style='display: block; text-align: left;') Quản lý (*)
																	select.form-control.chosen-manager(name='manager', data-placeholder='Quản lý', style='width: 100%;')
																		option(value='') Chọn quản lý
																		each user in users
																			option(value=user._id, selected=(data && JSON.stringify(data.manager) === JSON.stringify(user.id)) ? true : false) #{user.firstName + ' ' + user.lastName}
																	if errors && errors.manager
																		.help-block #{errors.manager.msg}
															.form-group
																.col-lg-6
																	label.control-label(for='status', style='display: block; text-align: left;') Trạng thái
																	select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 150px;')
																		option(value=1, selected=(data && data.status === '1') ? true : false) Active
																		option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
														.modal-footer
															button.btn.btn-success.pull-left(type='submit', onClick='addBuilding("' + data._id + '")') Lưu lại
															button.btn.btn-default(type='button', data-dismiss='modal') Hủy
						.body
							each dt, i in data.apartmentBuildings
								if (i % 2 === 0)
									| <div class="row">
								.col-md-6.col-lg-6
									.apartment-building-item.well
										.building-name.text-center(style='font-weight: bold;')
											a(href='/apartment-building/view/' + dt._id, target='_blank') #{dt.buildingName}
										.building-content
											.row
												.col-md-6.col-lg-6
													.item-detail
														.icon
															i.fa.fa-building
														.content Số tầng: #{dt.floor}
												.col-md-6.col-lg-6
													.item-detail
														.icon
															i.fa.fa-area-chart
														.content Diện tích:
															i  #{dt.area}
											.row
												.col-md-6.col-lg-6
													.item-detail
														.icon
															i.fa.fa-user-o
														.content Quản lý: #{dt.manager.userName}
												.col-md-6.col-lg-6
													.item-detail
														.icon
															i.fa.fa-book
														.content Căn hộ: #{dt.apartments.length}
								if (i % 2 === 1 || i === data.apartmentBuildings.length - 1)
									| </div>
				#notification.tab-pane.fade
					ul.nav.nav-tabs
						li.active
							a(data-toggle='tab', href='#newNotification') Gửi thông báo
						li
							a(data-toggle='tab', href='#addExist') Chọn từ danh sách
					.tab-content
						#newNotification.tab-pane.fade.in.active
							.noti-devider
							header.noti-header
								.icon
									i.fa.fa-commenting-o
								h5.detail-title &nbsp;Nhập nội dung thông báo
							.body
								.row
									.col-md-8
										form.form-horizontal(method='POST', action='/apartment-building-group/create')
											.form-group
												.col-md-12
													label.control-label(for='title') Tiêu đề
													input#notification-title.form-control(type='text', name='title', value=data && data.title, placeholder='Nhập tiêu đề thông báo')
											.form-group
												.col-md-12
													label.control-label(for='content') Nội dung
													textarea#notification-content.form-control(type='text', name='content', placeholder='Nhập nội dung thông báo', rows='3') #{data.content ? data.content : ''}
											.form-group
												.col-md-12
													label.control-label(for='sendTo', style='display: block;text-align: left;') Gửi tới
													select.select-recipients.form-control(multiple=true, name='sendTo', data-placeholder='Send to', style='width: 100%;display: block;')
														each dt in data.apartmentBuildings
															option(value=dt._id) #{dt.buildingName}

									.col-md-4
								hr
								.btn.btn-success
									| Gửi thông báo &nbsp;
										


								
			

