extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
			$('#feedback-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.user-actions
				h4 Báo cáo sai phạm
			hr
			table#feedback-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs STT
						th Nội dung
						th Ảnh
						th Người báo cáo
						th Thời gian
						th Gửi thông báo
				tbody
					each dt, i in data
						tr
							td.hidden-xs #{i+1}
							td #{dt.content}
							td
								if dt.image
									a(href=dt.imageUrl, target='_blank')
										img(src=dt.imageUrl, style='width: 120px;height: 100px')
								else
									| Không có
							td #{dt.createdBy ? (dt.createdBy.firstName + ' ' + dt.createdBy.lastName) : ''}
							td #{moment(dt.createdAt).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY HH:mm')}
							td
								button(onclick='return confirmAction("Gửi báo cháy đến cư dân?", "/notification/send-fire-warning/' + dt._id + '")').u-action.btn.btn-danger.confirm-action
										em.fa.fa-trash