extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
	//- link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.min.css')
	//- link(rel='stylesheet', href='/stylesheets/froala_editor.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
	link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
block scripts
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(src='/libs/froala-editor/js/froala_editor.min.js')
	script(src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
	//- script(src='/javascripts/froala_editor.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script(src='/javascripts/cropper-editor.js')
	script.
		$(function() {
			$('.chosen-status').chosen({ allow_single_deselect: true, disable_search: true });
			$('#utility-content').froalaEditor({
				heightMin: 280,
				// Button show xs
				toolbarButtons: [
					'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-',
					'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'
				],
				toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
				// Set the image upload URL.
				imageUploadURL: '/media/upload_image',
				// Load all images from folder
				imageManagerLoadURL: '/media/load_images'
			});
		});
	script(type='text/javascript').
		var cropperEditor = new CropperEditor({ 
			selector : 'utility-image',
			uploadDir: '/images/utility/',
			prefixFileName: 'utility',
			thumbWidth: 640,
			thumbHeight: 360,
			toolbars: {
				crop : true,
				zoomIn: true,
				zoomOut: true,
				rotateLeft: true,
				rotateRight: true,
				submitCrop: true
			},
			clientOptions: {
				viewMode: 1,
				dragMode: 'move',
				cropBoxResizable: false
			}
		});
		cropperEditor.init();
block content
	.row
		.col-lg-12
			header
				.content-header Nhập dữ liệu tiện ích
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/utility/create')
				.form-group
					.col-lg-8(class=errors && errors.utilityName && 'has-error')
						label.control-label(for='utilityName') Tên tiện ích
						input#utility-name.form-control(type='text', name='utilityName', value=data && data.utilityName, placeholder='Nhập tên tiện ích')
						if errors && errors.utilityName
							.help-block #{errors.utilityName.msg}
				.form-group
					.col-lg-6(class=errors && errors.image && 'has-error')
						label.control-label(for='image') Ảnh dịch vụ
						if data && data.image
							label.custom-file-upload(for='utility-image', style='display: none;')
								i.fa.fa-cloud-upload
							input#utility-image.mycropper-browse-file(type='file', name='image', disabled=true)
							input#cropper-editor-input-utility-image(type='hidden', name='image', value=data.image)
							#utility-image-image-preview.image-preview
								.image-preview-item
									span.btn.btn-danger.btn-xs.remove-image(id='delete-' + data.image)
										i.fa.fa-trash
									img(src='/media/images/utility/thumb/' + data.image)
						else
							input#utility-image.mycropper-browse-file(type='file', name='image')
							label.custom-file-upload(for='utility-image')
								i.fa.fa-cloud-upload
						if errors && errors.image
							.help-block #{errors.image.msg}
				.form-group
					.col-lg-12
						label.control-label(for='content') Nội dung dịch vụ
						textarea#utility-content.form-control(type='text', name='content', placeholder='Nội dung dịch vụ', rows=3) #{data ? data.content : ''}
				.form-group
					.col-lg-6
						label.control-label(for='status', style='display: block; text-align: left;') Status
						select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 150px;')
							option(value=1, selected=(data && data.status === '1') ? true : false) Active
							option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
				.form-group  
					.col-lg-8
						input#submit.btn.btn-success(type='submit', value='Lưu lại')
				