extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.min.css')
	link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
	link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
block scripts
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(src='/libs/froala-editor/js/froala_editor.min.js')
	script(src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script(src='/javascripts/cropper-editor.js')
	script.
		$(function() {
			$('.chosen-status').chosen({ allow_single_deselect: true, disable_search: true });
		});
	script(type='text/javascript').
		var cropperEditor = new CropperEditor({ 
			selector : 'icon-image',
			uploadDir: '/images/post/',
			prefixFileName: 'post-category',
			thumbWidth: 400,
			thumbHeight: 400,
			toolbars: {
				crop : true,
				zoomIn: true,
				zoomOut: true,
				rotateLeft: true,
				rotateRight: true,
				submitCrop: true
			},
			clientOptions: {
				viewMode: 1,
				dragMode: 'move',
				cropBoxResizable: false
			}
		});
		cropperEditor.init();
block content
	.row
		.col-lg-12
			header
				.content-header Chỉnh sửa dữ liệu cộng đồng dịch vụ
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/post-category/update/' + data._id)
				.form-group
					.col-lg-6.col-md-6(class=errors && errors.name && 'has-error')
						label.control-label(for='name') Tên cộng đồng
						input#serrvice-category-name.form-control(type='text', name='name', value=data && data.name, placeholder='Nhập tên cộng đồng')
						if errors && errors.name
							.help-block #{errors.name.msg}
					.col-lg-6.col-md-6
						label.control-label(for='status', style='display: block; text-align: left;') Status
						select.form-control.chosen-status(name='status', data-placeholder='Status', style='width: 150px !important;')
							option(value=1, selected=(data && data.status === '1') ? true : false) Active
							option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
				.form-group
					.col-lg-6(class=errors && errors.icon && 'has-error')
						label.control-label(for='icon') Icon cộng đồng
						if data && data.icon
							#icon-image-image-preview.image-preview
								.image-preview-item
									span.btn.btn-danger.btn-xs.remove-image(id='delete-' + data.icon, onclick='deleteImage("' + data.icon + '", "icon-image")')
										i.fa.fa-trash
									img(src=data.iconUrl)
							input#cropper-editor-input-icon-image(type='hidden', name='icon', value=data.icon)
							input#icon-image.mycropper-browse-file(type='file', name='icon', disabled)
							label.custom-file-upload(for='icon-image', style="display: none;")
								i.fa.fa-cloud-upload
						else
							input#icon-image.mycropper-browse-file(type='file', name='icon')
							label.custom-file-upload(for='icon-image')
								i.fa.fa-cloud-upload
						if errors && errors.icon
							.help-block #{errors.icon.msg}
					.col-lg-6.col-md-6(class=errors && errors.orderDisplay && 'has-error')
						label.control-label(for='orderDisplay') Thứ tự hiển thị
						input#serrvice-category-orderDisplay.form-control(type='text', name='orderDisplay', value=data && data.orderDisplay, placeholder='Thứ tự hiển thị')
						if errors && errors.orderDisplay
							.help-block #{errors.orderDisplay.msg}
				.form-group  
					.col-lg-8
						input#submit.btn.btn-success(type='submit', value='Lưu lại')
				