extends ../layout/main
	
block content
	.row
		.col-lg-12
			header
				.content-header Đặt lại mật khẩu cho tài khoản: #{data.phoneNumber}
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/user/update-password/' + data._id)
				.form-group
					.col-lg-6(class=errors && errors.password && 'has-error')
						label.control-label(for='password') Mật khẩu (*)
						input#password.form-control(type='password', name='password', placeholder='Password')  
						if errors && errors.password
							.help-block #{errors.password.msg}
					.col-lg-6(class=errors && errors.confirmPassword && 'has-error')
						label.control-label(for='confirmPassword') Nhập lại mật khẩu (*)
						input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')  
						if errors && errors.confirmPassword
							.help-block #{errors.confirmPassword.msg}
				hr
				.form-group  
					.col-lg-4
						input#submit.btn.btn-success(type='submit', text='Submit')
				