extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
	link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/libs/cropperjs/dist/cropper.min.js')
	script(src='/javascripts/cropper-editor.js')
	script(src='/javascripts/bootstrap-chosen.js')
		
	script.
		$(function() {
			var avatarCropperEditor = new CropperEditor({ 
				selector : 'avatar-image',
				uploadDir: '/images/avatar/',
				prefixFileName: 'avatar',
				thumbWidth: 100,
				thumbHeight: 100,
				toolbars: {
					crop : true,
					zoomIn: true,
					zoomOut: true,
					rotateLeft: true,
					rotateRight: true,
					submitCrop: true
				},
				clientOptions: {
					viewMode: 1,
					dragMode: 'move',
					cropBoxResizable: false
				}
			});
			avatarCropperEditor.init();
			
			$('.select-role').chosen({ allow_single_deselect: true, disable_search: false });
			$('.chosen-status, .select-gender').chosen({ allow_single_deselect: true, disable_search: true });
		});
block content
	.row
		.col-lg-12
			header
				.content-header Nhập dữ liệu người dùng
			hr
			#div-1.body.collapse.in(aria-expanded='true', style='')
			form.form-horizontal(method='POST', action='/user/create')
				.form-group
					.col-lg-6(class=errors && errors.firstName && 'has-error')
						label.control-label(for='firstname') Họ
						input#firstname.form-control(type='text', name='firstName', placeholder='Enter first name')
						if errors && errors.firstName
							.help-block #{errors.firstName.msg}
					.col-lg-6(class=errors && errors.lastName && 'has-error')
						label.control-label(for='lastName') Tên
						input#lastname.form-control(type='text', name='lastName', placeholder='Last Name')
						if errors && errors.lastName
							.help-block #{errors.lastName.msg}
				.form-group
					.col-lg-6(class=errors && errors.avatar && 'has-error')
						label.control-label(for='avatar') Ảnh đại diện
						if data && data.avatar
							label.custom-file-upload(for='avatar-image', style='display: none;')
								i.fa.fa-cloud-upload
							input#avatar-image.mycropper-browse-file(type='file', name='avatar', disabled=true)
							input#cropper-editor-input-icon-image(type='hidden', name='avatar', value=data.avatar)
							#avatar-image-preview.image-preview
								.image-preview-item
									span.btn.btn-danger.btn-xs.remove-image(id='delete-' + data.avatar)
										i.fa.fa-trash
									img(src='/media/images/avatar/thumb/' + data.avatar)
						else
							input#avatar-image.mycropper-browse-file(type='file', name='avatar')
							label.custom-file-upload(for='avatar-image')
								i.fa.fa-cloud-upload
						if errors && errors.avatar
							.help-block #{errors.avatar.msg}
					.col-lg-6(class=errors && errors.phoneNumber && 'has-error')
						label.control-label(for='phoneNumber') Số điện thoại
						input#phoneNumber.form-control(type='text', name='phoneNumber', placeholder='Số điện thoại')
						if errors && errors.phoneNumber
							.help-block #{errors.phoneNumber.msg}
				.form-group
					.col-lg-6(class=errors && errors.userName && 'has-error')
						label.control-label(for='username') Tên đăng nhập
						input#username.form-control(type='text', name='userName', placeholder='Enter username')
						if errors && errors.userName
							.help-block #{errors.userName.msg}
					.col-lg-6(class=errors && errors.email && 'has-error')
						label.control-label(for='email') Email
						input#email.form-control(type='text', name='email', placeholder='Email')
						if errors && errors.email
							.help-block #{errors.email.msg}
				.form-group
					.col-lg-6(class=errors && errors.password && 'has-error')
						label.control-label(for='password') Mật khẩu
						input#password.form-control(type='password', name='password', placeholder='Password')  
						if errors && errors.password
							.help-block #{errors.password.msg}
					.col-lg-6(class=errors && errors.confirmPassword && 'has-error')
						label.control-label(for='confirmPassword') Nhập lại mật khẩu
						input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')  
						if errors && errors.confirmPassword
							.help-block #{errors.confirmPassword.msg}
				.form-group
					.col-lg-12
						label.control-label(for='role', style='display: block;text-align: left;') Vai trò
						select.select-role.form-control(multiple=true, name='roles', data-placeholder='Select Role', style='width: 100%;display: block;')
							each role in roles
								option(value=role._id, selected=(data && data.roles && data.roles.indexOf(role.id) >= 0)) #{role.roleName}
				.form-group
					.col-lg-6
						label.control-label(for='gender', style='display: block;text-align: left;') Giới tính
						select.select-gender.form-control(name='gender', data-placeholder='Gender', style='width: 100px;display: block;')
							option(value=1) Male
							option(value=2) Female
							option(value=2) Other
					.col-lg-6
						label.control-label(for='status', style='display: block;text-align: left;') Status
						select.chosen-status.form-control(name='status', data-placeholder='Status', style='width: 100px;display: block;')
							option(value=1, selected=(data && data.status === '1') ? true : false) Active
							option(value=0, selected=(data && data.status === '0') ? true : false) Inactive
				hr
				.form-group  
					.col-lg-4
						input#submit.btn.btn-success(type='submit', text='Submit')
				