extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('#user-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.user-actions
				a.btn.btn-success(href='/user/create') Tạo mới
			hr
			table#user-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs ID
						th UserName
						th Email
						th Gender
						th Role Code
						th.text-center Status
						th.text-center
							em.fa.fa-cog
				tbody
					each user, i in users
						tr
							td.hidden-xs #{i + 1}
							td #{user.userName}
							td #{user.email}
							td #{(user.gender === 1) ? 'Male' : ((user.gender === 2) ? 'Female' : 'Other')}
							td #{user.roles}
							td.text-center #{user.status ? 'Active' : 'Inactive'}
							td(align='center')
								a.u-action.btn.btn-default
									em.fa.fa-eye
								a.u-action.btn.btn-success
									em.fa.fa-pencil
								a.u-action.btn.btn-danger
									em.fa.fa-trash