extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('#user-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.box.dark
				header
					.icons
						i.fa.fa-table
					h5 #{title}
				.user-actions
					a.btn.btn-success(href='/user/create') Tạo mới
				table#user-list.table.table-responsive.display(cellspacing='0', width='100%')
					thead
						tr
							th.hidden-xs ID
							th UserName
							th Email
							th Gender
							th.text-center Status
							th.text-center
								em.fa.fa-cog
					tbody
						- var i = 1;
						each user in users
							tr
								td.hidden-xs #{i}
								td #{user.userName}
								td #{user.email}
								td #{(user.gender === 1) ? 'Male' : ((user.gender === 2) ? 'Female' : 'Other')}
								td.text-center #{user.status ? 'Active' : 'Inactive'}
								td(align='center')
									a.btn.btn-default
										em.fa.fa-pencil
									a.btn.btn-danger
										em.fa.fa-trash
							- i += 1