extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('#user-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.user-actions
				a.btn.btn-success(href='/user/create') Tạo mới
			hr
			table#user-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs STT
						th avatar
						th Họ tên
						//- th Tên đăng nhập
						th Số điện thoại
						th Giới tính
						th.text-center Status
						th.text-center(style='width: 50px')
							em.fa.fa-cog
						th.text-center Đặt lại mật khẩu
				tbody
					each user, i in users
						tr
							td.hidden-xs #{i + 1}
							td(style='width: 100px')
								img.img-responsive(src=user.avatarUrl style='width: 100px;height; 100px;')
							td #{user.firstName + ' ' + user.lastName}
							//- td #{user.userName}
							td #{user.phoneNumber}
							td #{(user.gender === 1) ? 'Male' : ((user.gender === 2) ? 'Female' : 'Other')}
							td.text-center #{user.status ? 'Active' : 'Inactive'}
							td(align='center', style='width: 50px;')
								a(href='/user/edit/' + user._id).u-action.btn.btn-success
									em.fa.fa-pencil
							td.text-center
								a(href='/user/change-password/' + user._id, target='_blank') Đặt lại mật khẩu