extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$('.chosen-apartment-user').chosen({ allow_single_deselect: true, disable_search: false });
block content
	.row
		.col-lg-2.col-md-2.col-sm-2.sub-menu
			ul.sub-menu-item.nav.nav-tabs
				li.active
					a(data-toggle='tab', href='#details') Thông tin
				//- li
				//- 	a(data-toggle='tab', href='#apartments') Căn hộ
		.col-lg-10.col-md-10.col-sm-10
			.tab-content
				#details.tab-pane.fade.in.active
					.apartment-detail(style='margin-bottom: 15px;')
						header.detail-header
							.icon
								i.fa.fa-eye
							h5.detail-title Phòng: #{title}
						.body
							.row
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-address-book-o
										.content Tên căn hộ: #{data.apartmentName}
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-user-o
										.content Chủ hộ: #{data.manager ? data.manager.userName : 'Còn trống'}
							.row
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-address-book-o
										.content Địa chỉ: #{data.building ? data.building.apartmentBuildingGroup.abgName : ''}
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-building
										.content Tòa nhà: #{data.building.buildingName}
							.row
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-building
										.content Ngày tạo : #{data.createdAt.toLocaleString('vi-VN')}
								.col-md-6.col-lg-6
									.item-detail
										.icon
											i.fa.fa-user-o
										.content Người tạo: #{data.createdBy.first + ' ' + data.createdBy.lastName}
					.resident
						header.detail-header
							.icon
								i.fa.fa-home
							h5.detail-title Cư dân ( #{data.users ? data.users.length : 0} người )
							button.btn.btn-success.pull-right(type='button', data-toggle='modal', data-target='#addUser')
								i.fa.fa-plus
								| &nbsp;Thêm
							#addUser.modal.fade(role='dialog')
								#add-user-to-apartment.form-horizontal
									.modal-dialog
										.modal-content
											.modal-header
												button.close(type='button', data-dismiss='modal') ×
												ul.nav.nav-tabs
													li.active
														a(data-toggle='tab', href='#addNew') Thêm mới
													li
														a(data-toggle='tab', href='#addExist') Chọn từ danh sách
												.tab-content
													#addNew.tab-pane.fade.in.active
														.modal-body
															.form-group
																.col-lg-6(class=errors && errors.firstName && 'has-error')
																	label.control-label(for='firstname') Họ
																	input#firstname.form-control(type='text', name='firstName', placeholder='Enter first name')
																	if errors && errors.firstName
																		.help-block #{errors.firstName.msg}
																.col-lg-6(class=errors && errors.lastName && 'has-error')
																	label.control-label(for='lastName') Tên
																	input#lastname.form-control(type='text', name='lastName', placeholder='Last Name')
																	if errors && errors.lastName
																		.help-block #{errors.lastName.msg}
															.form-group
																.col-lg-6(class=errors && errors.userName && 'has-error')
																	label.control-label(for='username') Tên đăng nhập
																	input#username.form-control(type='text', name='userName', placeholder='Enter username')
																	if errors && errors.userName
																		.help-block #{errors.userName.msg}
																.col-lg-6(class=errors && errors.email && 'has-error')
																	label.control-label(for='email') Email
																	input#email.form-control(type='text', name='email', placeholder='Email')
																	if errors && errors.email
																		.help-block #{errors.email.msg}
															.form-group
																.col-lg-6(class=errors && errors.password && 'has-error')
																	label.control-label(for='password') Mật khẩu
																	input#password.form-control(type='password', name='password', placeholder='Mật khẩu đăng nhập')  
																	if errors && errors.password
																		.help-block #{errors.password.msg}
																.col-lg-6(class=errors && errors.confirmPassword && 'has-error')
																	label.control-label(for='confirmPassword') Nhập lại mật khẩu
																	input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Nhập lại mật khẩu')  
																	if errors && errors.confirmPassword
																		.help-block #{errors.confirmPassword.msg}
														.modal-footer
															button.btn.btn-success.pull-left(type='submit', onClick='addUserToApartment("' + data._id + '")') Lưu lại
															button.btn.btn-default(type='button', data-dismiss='modal') Hủy
													#addExist.tab-pane.fade
														.modal-body
															.form-group
																.col-lg-12
																	label.control-label(for='apartmentUser', style='display: block; text-align: left;') Thêm cư dân
																	select.form-control.chosen-apartment-user(multiple=true, name='apartmentUser', data-placeholder='Chọn cư dân', style='width: 100%;')
																		each user in users
																			option(value=user._id) #{user.firstName + ' ' + user.lastName}	
														.modal-footer
															button.btn.btn-success.pull-left(type='submit', onClick='selectExistingUserToApartment("' + data._id + '")') Lưu lại
															button.btn.btn-default(type='button', data-dismiss='modal') Hủy
						.body
							each dt, i in data.users
								if (i % 3 === 0)
									| <div class="row">
								.col-md-3.col-lg-3
									.resident-item
										a.delete-resident.pull-right.u-action.confirm-action(href='/apartment/delete-user/' + dt._id, onclick='return confirmAction("Bạn có chắc chắn muốn xóa căn hộ này không?", "/apartment/delete/' + dt._id + '")')
											em.fa.fa-trash
										.avatar
											if dt.avatar
												img.img.img-responsive(src=dt.avatarUrl)
											else 
												img.img.img-responsive(src='/images/default-user.png')
										.info
											.user-name #{dt.firstName + ' ' + dt.lastName}
											.phone-number #{dt.phoneNumber}
										
								if (i % 4 === 3 || i === data.users.length - 1)
									| </div>

