extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
			$('#chatgroup-list').DataTable();
		});
block content
	.row
		.col-lg-12
			//- .user-actions
			//- 	a.btn.btn-success(href='/chat-group/create') Tạo mới
			//- hr
			table#chatgroup-list.table.table-responsive.display(cellspacing='0', width='100%')
				thead
					tr
						th.hidden-xs STT
						th Tên nhóm
						th Tòa nhà
						th Chung cư
						th Thành viên
						th.text-center
							em.fa.fa-cog
				tbody
					each dt, i in data
						tr
							td.hidden-xs #{i+1}
							td #{dt.groupName}
							td #{dt.building ? dt.building.buildingName : ''}
							td #{dt.buildingGroup ? dt.buildingGroup.abgName : ''}
							td.text-center
								a.btn.btn-default(type='button', data-toggle='modal', data-target='#listMember_' + dt._id)
									em.fa.fa-eye
									| &nbsp;Danh sách
								.modal.fade(role='dialog', id=('listMember_' + dt._id))
									.modal-dialog
										// Modal content
										.modal-content
											.modal-header
												button.close(type='button', data-dismiss='modal') ×
												h4.modal-title Danh sách thành viên
											.modal-body
												if dt.members.length > 0
													table.table.table-responsive.table-bordered
														thead
															tr
																th STT
																th Họ tên
																th Hành động
														tbody
															each member, i in dt.members
																tr
																	td #{i+1}
																	td #{member.firstName + ' ' + member.lastName}
																	td.text-center
																		if (dt.blackList.indexOf(member._id) > -1)
																			button.btn.btn-danger(onclick='removeBlackList(this, "' + dt._id + '", "' + member._id + '")') Bỏ chặn
																		else
																			button.btn.btn-danger(onclick='addBlackList(this, "' + dt._id + '", "' + member._id + '")') Chặn chat
												else
													p Không có thành viên.
											.modal-footer
												button.btn.btn-default(type='button', data-dismiss='modal') Đóng
							td(align='center')
								a(href='/chat-group/edit/' + dt._id).u-action.btn.btn-success
									em.fa.fa-pencil
								a.btn.u-action.btn.btn-danger.confirm-action(onclick='return confirmAction("Bạn có chắc chắn muốn xóa nhóm chat này không?", "/chat-group/delete/' + dt._id + '")')
									em.fa.fa-trash