extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
			//- $('.').chosen({ allow_single_deselect: true, disable_search: true });
		});
block content
	.row
		.col-lg-12
			header
				.content-header Yêu cầu dịch vụ
			#div-1.body.collapse.in(aria-expanded='true', style='')
			table.table.table-responsive
				tr
					th Mã đơn hàng
					td #{data.code}
				tr
					th Người đặt hàng
					td #{data.fullName}
				tr
					th Số điện thoại
					td #{data.phoneNumber}
				tr
					th Dịch vụ
					td #{data.service ? data.service.serviceName : ''}
				tr
					th Thời gian đặt lịch
					td #{data.orderAt ? data.orderAt.toLocaleString('vi-VN') : (data.createdAt ? data.createdAt.toLocaleString('vi-VN') : '')}
				tr
					th Ảnh
					td
						if data.images
							- var imgs = data.imageUrl.split(',');
							each i in imgs
								img(src=i, style='width: 120px; height: 100px;')
						else
							| Không có