extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/jquery.dataTables-custom.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/jquery.dataTables.min.js')
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$(function() {
		$('.chosen-select').chosen();
		$('.chosen-select-deselect').chosen({ allow_single_deselect: true, disable_search: true });
		$('#slider-list').DataTable();
		});
block content
	.row
		.col-lg-12
			.box.dark
				header
					.icons
						i.fa.fa-table
					h5 #{title}
				.user-actions
					a.btn.btn-success(href='/slider/create') Tạo mới
				table#slider-list.table.table-responsive.display(cellspacing='0', width='100%')
					thead
						tr
							th.hidden-xs ID
							th Name
							th Image
							th Link
							th.text-center Status
							th.text-center.no-sort
								em.fa.fa-cog
					tbody
						each slider, i in sliders
							tr
								td.hidden-xs #{i}
								td #{slider.name}
								td
									img.img-responsive(src=process.env.MEDIA_URL + '/images/slider/thumb/' + slider.image, style='width: 128px;')
								td #{slider.link}
								td.text-center #{slider.status ? 'Public' : 'Draft'}
								td(align='center')
									a(href='/slider/edit/' + slider._id).u-action.btn.btn-success
										em.fa.fa-pencil
									a(href='/slider/delete/' + slider._id, onclick='return confirmAction("Bạn có chắc chắn muốn xóa ảnh slide này không?", "/slider/delete/' + slider._id + '")').u-action.btn.btn-danger.confirm-action
										em.fa.fa-trash