extends ../layout/main
block stylesheets
	link(rel='stylesheet', href='/stylesheets/bootstrap-chosen.css')
block scripts
	script(src='/javascripts/bootstrap-chosen.js')
	script.
		$('.chosen-abg, .chosen-ab, .chosen-cost-type, .chosen-cost-month, .chosen-cost-year').chosen({ allow_single_deselect: true, disable_search: false });
block content
	.row
		.col-lg-2.col-md-2.col-sm-2.sub-menu
			ul.sub-menu-item.nav.nav-tabs
				li.active
					a(data-toggle='tab', href='#costType') Loại chi phí
				li
					a(data-toggle='tab', href='#cost') Tiền phí
		.col-lg-10.col-md-10.col-sm-10
			.tab-content
				#costType.tab-pane.fade.in.active
					.cost-type(style='margin-bottom: 15px;')
						.user-actions
							a.btn.btn-success(href='/cost-type/create') Tạo mới
						hr
						table#ab-list.table.table-responsive.display(cellspacing='0', width='100%')
							thead
								tr
									th.hidden-xs STT
									th Tên
									th Người tạo
									th.text-center Trạng thái
									th.text-center.no-sort Hành động
							tbody
								each dt, i in costTypes
									tr
										td.hidden-xs #{i+1}
										td #{dt.name}
										td #{dt.createdBy.firstName + ' ' + dt.createdBy.lastName}
										td.text-center #{dt.status ? 'Active' : 'Inactive'}
										td(align='center')
											a(href='/cost-type/edit/' + dt._id).u-action.btn.btn-success
												em.fa.fa-pencil
											a(href='/cost-type/delete/' + dt._id, onclick='return confirmAction("Bạn có chắc chắn muốn xóa loại chi phí này không?", "/cost-type/delete/' + dt._id + '")').u-action.btn.btn-danger.confirm-action
												em.fa.fa-trash
				#cost.tab-pane.fade
					.cost-type(style='margin-bottom: 15px;')
						.user-actions
							a.btn.btn-success(href='/cost/create') Thêm
							.btn.btn-success(onclick='return toggleSelect()')
								| Tải mẫu nhập liệu &nbsp;
							.btn.btn-success
								input#import-excel.mycropper-browse-file(type='file', name='excelFile', onchange='return importFileCost(this)')
								label.import-file.custom-file-upload(for='import-excel')
									| Nhập liệu excel &nbsp;
									i.fa.fa-file-excel-o
								button#cost-data-import-file(type='button', data-toggle='modal', data-target='#costDataImport', style='display: none')
								#costDataImport.modal.fade(role='dialog')
									.modal-dialog(style='width: auto;max-width: 90%;')
										// Modal content
										.modal-content
											.modal-header
												button.close(type='button', data-dismiss='modal') ×
												h4.modal-title Dữ liệu sẽ nhập
											.modal-body
												table.table.table-striped
													thead
														tr
															th Loại chi phí
															th Căn hộ
															th Tòa nhà
															th Chung cư
															th Số Tiền
															th Tháng
															th Năm
													tbody
											.modal-footer
												button#cost-submit-data.btn.btn-success.pull-left Nhập liệu
												button.btn.btn-default(type='button', data-dismiss='modal') Close
							form#select-download-option.form-horizontal.hidden
								hr
								.form-group
									.col-lg-6.col-md-6
										select#chosen-cost-type.form-control.chosen-cost-type(name='cosType', data-placeholder='Loại chi phí', style='width: 100%;')
											option(value='') Chọn loại chi phí
											each ct in costTypes
												option(value=ct._id) #{ct.name}
									.col-lg-3.col-md-3
										select#choosen-cost-month.form-control.chosen-cost-month(name='costMonth', data-placeholder='Tháng', style='width: 100%;')
											each m in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
												option(value=m) #{'Tháng ' + m}
									.col-lg-3.col-md-3
										select#choosen-cost-year.form-control.chosen-cost-year(name='costYear', data-placeholder='Năm', style='width: 100%;')
											option(value=new Date().getFullYear()) #{'Năm ' + new Date().getFullYear()}
								.form-group
									.col-lg-6.col-md-6(class=errors && errors.apartmentBuildingGroup && 'has-error')
										select#chosen-apartment-building-group.form-control.chosen-abg(name='apartmentBuildingGroup', data-placeholder='Khu chung cư', style='width: 100%;', onchange='onSelectAbg(this.value)')
											option(value='') Chọn khu chung cư
											each abg in abgs
												option(value=abg._id, selected=(data && JSON.stringify(data.apartmentBuildingGroup) === JSON.stringify(abg.id)) ? true : false) #{abg.abgName}
									.col-lg-6.col-md-6(class=errors && errors.apartmentBuilding && 'has-error')
										select#choosen-apartment-building.form-control.chosen-ab(name='apartmentBuilding', data-placeholder='Tòa nhà', style='width: 100%;')
											option(value='') Chọn tòa nhà
								.form-group
									.col-lg-2
										.btn.btn-success(onclick='return downloadCostFileImport("/cost/import-template")')
											| Tải file &nbsp;
											i.fa.fa-download
						hr
						table#cost-list.table.table-responsive.display(cellspacing='0', width='100%')
							thead
								tr
									th.hidden-xs STT
									th Loại chi phí
									th Căn hộ
									th Tòa nhà
									th Chung cư
									th Số Tiền
									th Tháng
									th Năm
									th Trạng thái
							tbody
								each c, i in costs
									tr
										td.hidden-xs #{i+1}
										td #{c.costType.name}
										td #{c.apartment.apartmentName}
										td #{c.apartment.building.buildingName}
										td #{c.apartment.building.apartmentBuildingGroup.abgName}
										td #{c.money}
										td #{c.month}
										td #{c.year}
										td.text-center #{c.status ? 'Đã thanh toán' : 'Chưa thanh toán'}